In [37]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [8]:
url = 'https://en.wikipedia.org/wiki/List_of_Academy_Award%E2%80%93winning_films'

In [9]:
page = requests.get(url)

In [10]:
soup = BeautifulSoup(page.text, 'html')

In [71]:
table = soup.find_all('table')

table = table[0]

headers = [header.text.replace('\n', '') for header in table.find_all('th')]
headers

['Film', 'Year', 'Awards', 'Nominations']

In [72]:
rows = []
for row in table.find_all('tr')[1:]:
    rows.append([cell.text for cell in row.find_all('td')])

In [73]:
df = pd.DataFrame(rows, columns = headers)
df

,Film,Year,Awards,Nominations
0,Oppenheimer,2023,7,13\n
1,Poor Things,2023,4,11\n
2,The Zone of Interest,2023,2,5\n
3,American Fiction,2023,1,5\n
4,Anatomy of a Fall,2023,1,5\n
...,...,...,...,...
1368,The Yankee Doodle Mouse,1943,1,1\n
1369,The Yearling,1946,2,7\n
1370,"Yesterday, Today and Tomorrow (Ieri, oggi, dom...",1964,1,1\n
1371,You Can't Take It with You,1938,2,7\n
1372,Zorba the Greek (Alexis Zorbas),1964,3,7\n

In [80]:
df['Nominations'] = df['Nominations'].str.replace('\n','')
df['Nominations']

0       13
1       11
2        5
3        5
4        5
        ..
1368     1
1369     7
1370     1
1371     7
1372     7
Name: Nominations, Length: 1373, dtype: object

In [85]:
df['Awards'] = df['Awards'].str.replace('(1)','')
df['Awards'] = df['Awards'].str.replace('(2)','')
df['Awards'] = df['Awards'].str.replace('[1]','')
df['Awards'] = df['Awards'].str.replace('\n','')
df['Awards'].value_counts()

Awards
1     979
2     156
3      77
4      47
0      36
5      25
7      12
6      12
1       8
8       7
9       3
11      3
3       1
4       1
6       1
5       1
7       1
8       1
2       1
10      1
Name: count, dtype: int64

In [90]:
df['Year'].value_counts

<bound method IndexOpsMixin.value_counts of 0       2023
1       2023
2       2023
3       2023
4       2023
        ...
1368    1943
1369    1946
1370    1964
1371    1938
1372    1964
Name: Year, Length: 1373, dtype: object>

In [91]:
df

,Film,Year,Awards,Nominations
0,Oppenheimer,2023,7,13
1,Poor Things,2023,4,11
2,The Zone of Interest,2023,2,5
3,American Fiction,2023,1,5
4,Anatomy of a Fall,2023,1,5
...,...,...,...,...
1368,The Yankee Doodle Mouse,1943,1,1
1369,The Yearling,1946,2,7
1370,"Yesterday, Today and Tomorrow (Ieri, oggi, dom...",1964,1,1
1371,You Can't Take It with You,1938,2,7
1372,Zorba the Greek (Alexis Zorbas),1964,3,7